streamlit>=1.36.0
yt-dlp>=2024.8.6
pydub>=0.25.1
ffmpeg-python>=0.2.0
openai-whisper>=20231117
torch>=2.2.0
torchaudio>=2.2.0
deep-translator>=1.11.4
langchain>=0.2.11
langchain-core>=0.2.27
langchain-community>=0.2.10
langchain-mistralai>=0.1.12
mistralai>=0.4.2
chromadb>=0.5.5
sentence-transformers>=3.0.1
langchain-huggingface>=0.0.3
huggingface-hub>=0.24.5
fpdf2>=2.7.9
reportlab>=4.2.2
python-dotenv>=1.0.1
numpy>=1.26.4
pandas>=2.2.2
tqdm>=4.66.5
